.page-transition {
  background-color: #458c4c;
  position: fixed;
  top: 120vh;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1500ms ease-out;
  z-index: 99;

  body.transition & {
    top: 0;
  }
}
